:root,
body,
html {
  height: 100%;
}

body {
  margin: 0;
  font-family: var(--mantine-font-family, system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', sans-serif);
  background-color: var(--mantine-color-body);
}

#root {
  height: 100%;
}
